@charset 'utf-8';

body {
  margin:  0px;
  padding: 0px;
  background-color: #222222;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.toggle {
  display: none;
}

#main {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #c4c7cf;
  position: relative;
  background-image: url('../images/aa.png');
  background-repeat: no-repeat;
  background-size: 1250;  
  background-position: bottom right;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 700;
  letter-spacing: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #e0e2e6;
  z-index: 1;
  box-shadow: 2px 2px 12px rgba(0, 0,0, 0.5);
}

.menu {
  display: flex;
}

.menu li a {
  padding: 10px 12px;
  color: #524f4f;
  font-size: 22px;
}

.lang {
  color: rgb(102, 115, 175);
}

.logo {
  font-size: 2rem;
  font-style: oblique;
  color: #238372;
  font-weight: bolder;
}

.menu li a:hover,
.menu li a.active{
  /* background-color: rgb(104, 75, 75); */
  color: rgb(204, 94, 94);
  transition: all ease-in-out 0.5s;
  margin: auto;
  cursor: pointer;
}

.name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 500px;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);
}

.languages h2{
  padding-top: 2rem;
  color: #adb;
  /* font-size: 2rem; */
}

.languages {
  padding-top: 2.7rem;
}

.name p:nth-child(1),
.name .details {
  color: #063338;
  font-size: 16px;
  line-height: 1.5rem;
}

.name h1 {
  font-family: Poppins;
  font-size: 35px;
  margin: 0px;
  letter-spacing: 3px;
  color: #333;
}

.cv-btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  background-color: #333;
  color: #e0e2e6;
  align-items: center;
  font-size: 20px;
  justify-content: center;
}

.cv-btn:hover {
  background-color: #222222;
  transition: all ease 0.5s;
}

.social {
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 5rem;
}

.social a {
  margin: 10px;
}

/* .social i {
  color: #0c707c;
  font-size: 20px;
} */

#about {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
  background-color:707060;
}

.about-model {
  width: 50%;
  background-position: center;
  background-size: auto;
}

.about-text {
  font-family: sans-serif;
  width: 70%;
}

.about-text h1 {
  font-size: 5rem;
  color: #22d1ac;
}

.about-text h2 {
  font-size: 3rem;
  color: #fff;
  font-weight: 500;
}

.about-text p {
  font-size: 1.2rem;
  color: #bbb;
  padding: 10px 35px 0px 5px;
  margin-right: 2rem;
}

/* below section services */
#services {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.s-headings {
  text-align: center;
  margin: 20px 0px;
}

.s-headings h1 {
  color: #fff;
  font-size: 3.5rem;
}

.s-headings p {
  color: #ffb;
  font-size: 1.3rem;
  margin: 0px;
}

.s-box {
  background-color:  #2b2b2b2b;
  width: 350px;
  height: 500px;
  margin: 20px;
  border-radius: 17px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0, 0,0, 0.1);

}

.s-b-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text h1,h2 {
  margin: 0px;
  padding: 0px;
}

.s-b-text {
  padding-right: 20px;
}

.s-b-text a{
  color: rgb(120, 202, 52);
  font-size: 1rem;
  padding-top: 20px ;
}

.s-b-img {
  width: 100%;
  height: 70%;
  margin-bottom: 10px;
}

.s-b-img img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.s-type {
  font-family: sans-serif;
  color: #fff;
  background-color: #151515;
  padding: 10px;
  top: 0px;
  left: 50%;
  overflow: hidden;
  border-radius: 0px 10px 0px 10px;
}


/* portofolio */

#portofolio {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 2% 20px 2%;
  margin-top: 2rem;
}

.p-heading {
  font-size: 3.8rem;
  text-align: center;
  color: #22d1ac;
  padding: 10px 20px;
  background-color: #353535;
  border-radius: 5px;

}

.p-box {
  background-color: #1f1f1f1f;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  width: 100%;
}

.p-box img {
  width: 90%;
  height: 100%;
  padding: 10px;
}

.p-b-container {
  width: 90%;
  height: 70vh;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.text-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(67, 75, 73, 0.8);
  display: none;
}

.text-overlay h1 {
  font-size: 2.2rem;
  margin: 0;
  color: #ddd;
}

.text-overlay a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0px 20px;
  font-weight: bolder;
}

.text-overlay a:hover {
  font-size: 2rem;
}
 
.text-overlay p {
  font-size: 1.2rem;
  margin: 0;
  color: rgb(236, 224, 168);
}

.p-box:hover .text-overlay {
  display: flex;
}

/* contact */
#contact h1{
  font-size: 2.5rem;
  margin: 2.5rem;
  padding: 10px;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 3px;
}

#contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: rgb(211, 207, 207);
  margin: 50px 0px auto    ;
  box-sizing: border-box;
}


/* contact-form */

#formContact {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 209, 208);
}

#formContact form {
  display: flex;
  width: 70%;
  height: 50vh;
  background-color: #1a1a1a1a;
  box-shadow: 2px 12px 20px rgba(0, 0,0, 0.2);
  border: 1px solid rgba(255, 255,255, 0.1);
}

.contact-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-right {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 2px solid wheat;
  padding: 10px;
}

.c-left-title {
  color: #fff;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.f-email .f-name {
  display: flex;
  flex-direction: column;
}

.f-name font,
.f-email font {
   color: rgb(172, 165, 165);
   font-size: 1.7rem;
}

.f-email input,
.f-name input {
  height: 30px;
  width: 250px;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #808080;
  color: #fff;
  margin: 10px 0px;
}

.f-email input::placeholder,
.f-name input::placeholder {
  opacity: 0.7;
  font-size: 1rem;
}

.f-email input:focus,
.f-name input:focus {
  border-bottom: 1px solid #1c2fd3;
  transition:  all ease 0.5s;
}

.message font {
  font-size: 20px;
  color: #9c9898;

}

.message {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.contact-right textarea {
  width: 100% !important;
  height: 200px !important;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  color: #999595;
  font-size: 18px;
  padding: 20px auto;
  margin-top: 15px;
}

.contact-right textarea::placeholder {
  color: #494444;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-right textarea:focus {
  border: none;

}

.contact-right button {
  width: 100%;
  height: 50px;
  background-color: yellowgreen;
  font-weight: bold;
  border: none;
  color: #353515;
  text-transform: uppercase;
  cursor: pointer;
}

.ecrire {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

.connect img {
  width: 60px;
  height: 60px;

}

.ecrire h4  {
  color: #063338;
  font-size: 1.3rem;
}

.link {
  margin-left: 3rem;
}

.link a {
  margin: 10px;
}

.location a {
  margin-left: 2.5rem;
}

.location h4 {
  margin-left: 4.6rem;
  font-size: 1.4rem;
}

.connect img,
.call a {
  padding-left: 2rem;
}

footer {
  color: #fff;
  padding: 2rem 6rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

footer h1 {
  font-size: 3rem;
  color: #7a6666;
}

footer a img {
  margin: 1rem;
  width: 17px;
  height: 17px;
}
 

@media(max-width:1190px) {
  /*  */

  .name {
    left: 10%;
    top: 60%;
    transform: translate(-10%, -50%);
  }

  .about {
    display: flex;
    flex-flow: column;
  }

  .about-model img {
    height: 380px;
  }

  #services {
    height: auto;
  }

  .s-b-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: auto auto;
    max-width: 100%;
  }

  .s-box {
    flex-grow: 1;
  }

  .s-b-text {
    text-align: center;
  }

  #formContact form {
    width: 95% !important;
  }
  /* .social {
    position: absolute;
    margin-left: 2rem;
    bottom: 0px;
    left: 10rem;
    transform: translate(5%, 70%);
  } */

  .cv-btn {
    position: absolute;
    left: 55%;
    top: 80%;
    transform: translate(5%, 70%);
  }
}

@media(max-width:980px) {
  #main {
    left: 50%;
    /* top: -10%; */
    margin-top: -6rem;
    transform: translate(-50%, -50%);
    background-image: none;
   
  }

  #contact h1{
    font-size: 2rem;
    margin: 2rem;
    padding: 10px;
    text-align: center;
    line-height: 3rem;
    letter-spacing: 2px;
  }

  .name {
    padding-bottom: 6rem;
    left: 20%;
    top: 92%;
    padding-right: 40px;
    /* transform: translate(-10%, -50%); */
  }

  .social {
    margin-left: 30rem;
    bottom: 0px;
  }

  .social img {
    width: 20px;
    height: 20px;
  }

  .cv-btn {
    margin-bottom: 11rem;
    margin-left: 15rem;
  }

  .about-model {
    display: none;
  }

  #about {
    justify-content: center;
    margin-top: -20rem;
  }

  .about-text {
    width: 90%;
  }

  .about-text h1 {
    font-size: 4rem;
  }

  .p-b-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 100%;
  }

  #services {
    margin-top: -5rem;
  }

  #portofolio {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .cv-btn {
    position: absolute;
    left: 48%;
    top: 28%;
    transform: translate(5%, 70%);
    height: 20px;
    width: 130px;
    font-size: 12px;
  }

  .ecrire {
    display: flex;
    flex-wrap: wrap;
  }

  .inbox {
    display: none;
  }

  .ecrire img {
    width: 45px;
    height: 35px;
  }

  footer h1 {
    font-size: 2rem;
    color: #9e8f8f;
  }

  footer a img {
    margin: 2px;
  }
}

@media(max-width:780px) {
  .toggle {
    display: block;
  }

  .social {
    margin-left:10rem;
    bottom: 0px;
  }

  .social .fl {
    display: none;
  }

  #contact-form {
    max-width: 1000%;
    flex-flow: column;
    margin: auto;
    height: 40vh;
  }

  .contact-left h1 {
    font-size: 2.2rem;
    margin-left: 3rem;
    /* padding-left: 2rem; */
  }

  .contact-right textarea {
    width: 95% !important;
    height: 100px !important;
    border:olive;
    font-size: 16px;
    padding: 20px auto;
    margin-top: 15px;
  }

  .contact-left {
    /* margin-bottom: 20px; */
    width: 80%;
  }

  .f-name,
  .f-email {
    display: flex;
    margin:auto;
    margin-left: 2rem;
  }

  .f-email input,
  .f-name input {
  height: 23px;
  width: 180px;
  background-color: transparent;
  color: #fff;
}

  .toggle::before {
    content: '\f0c9';
    line-height: 0px;
    margin-left: -35px;
  }

  .toggle.active:before {
    content: '\f00d';
  }

  nav {
    padding: 10px 30px;
  }

  nav ul {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #0f0f0f;
    top: 50px;
    left: 0;
    transition: 00.5s;
    box-sizing: border-box;
    overflow: hidden;
    border: 3px solid #151515;
    display: none;
    margin: 0px;
    padding: 0px;
  }

  nav ul li a {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255,255, 0.10);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
  }

  .s-b-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 100%;
  }

  /* #main {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: none; */
  /* }  */

  .name {
    width: 85%;
    left: 2%;
    top: 93%;
    transform: translate(5%, -48%);
    background-image: none;
  }

  .name h2 {
    display: none;
  }

  .name h1 {
    font-size: 25px;
  }

  .name .details {
    font-size: 14px;
    /* color: #1c2fd3; */
  }
  .cv-btn {
    width: 130px;
    height: 30px;
    border-radius: 7px;
    font-size: 12px;
    left: 10%;
    top: 37%;   
  }

  .about-text h1 {
    font-size: 2.8rem;
  }

  .about-text h2 {
    font-size: 2rem;
  }

  .about-text p {
    color: rgb(228, 180, 180);
    padding: 10px 5px;
  }

  #contact h1{
    font-size: 1.5rem;
    margin: 1rem;
    line-height: 2rem;
    letter-spacing: 2px;
  }

  footer h1 {
    font-size: 1.5rem;
    color: #7a6666;
  }

  footer h3 {
    font-size: 1rem;
    color: #f0e8e8;
    text-align: center;
  }
}